@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
    background-color: #FF6D1F;
}

@keyframes zoomInOut {
  0% { transform: scale(0.8); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.animate-zoom {
  animation: zoomInOut 0.6s ease-out;
}